body {
    margin: 0;
    padding: 0;
    background-color: #252525;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav {
    background: #191919;
}

.dropdown-divider {
    border-color: white;
}

.dropdown-divider.gray {
    border-color: rgb(104, 104, 104);
}
